<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--<add key="Ruta" value="Data Source=10.202.1.96;Initial Catalog=api_Scrap;persist security info=true;user id=apise;password=Apise2020" />
    <add key="FormatoFecha" value="MM/dd/yyyy" />
    <add key="FormatoFechaDB" value="yyyy-MM-dd" />
    <add key="rutaImagenes" value="\\eesmxreyfs01\EPS\EPSPublic\pubepssafety&amp;environmental\RESIDUOS DE MANEJO ESPECIAL SEDUMA\App para RME - ASIMEX\Catalogo" />
    <add key="imgDefault" value="_Default.png" />
    <add key="rutaExportar" value="C:\jlrc\Vertiv\Documentos\" />
    <add key="imagenesUser" value="\\eesmxreyfs01\EPS\EPSPublic\pubepssafety&amp;environmental\RESIDUOS DE MANEJO ESPECIAL SEDUMA\App para RME - ASIMEX\Usuarios" />
    <add key="MSDS" value="\\eesmxreyfs01\EPS\EPSPublic\pubepssafety&amp;environmental\pubepssafety&amp;environmental\" 
    -->
  
  
    
      
        
    <add key="Ruta" value="Data Source=DESKTOP-TESS7T1;Initial Catalog=InfQS_incoming;Integrated Security=True;"/>
    <add key="FormatoFecha" value="MM/dd/yyyy"/>
    <add key="FormatoFechaDB" value="yyyy-MM-dd"/>
    <add key="rutaImagenes" value="C:\jlrc\Vertiv\Catalogo"/>
    <add key="imgDefault" value="_Default.png"/>
    <add key="rutaExportar" value="C:\jlrc\Vertiv\Documentos\"/>
    <add key="imagenesUser" value="C:\jlrc\Vertiv\Usuarios"/>
    <add key="MSDS" value="C:\jlrc\Vertiv\MSDS"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
